

.form{
    background: white;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}
.footer > button{
    width: 50%;
    background: red;
}
.footer > button:hover{
    background: green;
    transition: 1s ease-in-out;
}