@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Playfair+Display:ital@1&family=Shadows+Into+Light&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  /* height: 15%;
  width: 150%; */
  background: #5abf98;
  font-family: "Delicious Handrawn", cursive;
  /* font-family: "Playfair Display", serif; */
  font-family: "Shadows Into Light", cursive;
}
.box {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    4deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(244, 247, 38, 0.9148109927564776) 97%
  );
  height: 100vh;
}
.search_bar {
  margin-left: 20px;
  padding: 10px;
  background: #16e042;
  max-width: 450px;
  /* width: 100%; */
}
.search_bar > .search-input {
  border: 1px solid red;
  border-radius: 15px;
  padding: 0px 10px;
}
.search_bar > .btn {
  padding: 0px 9px;
  margin-left: 3px;
  background: #35b8a9;
  color: #fff;
}
.search_bar > .btn:hover {
  background: transparent;
  transition: 1s ease all;
}
.main {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    4deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(38, 247, 196, 0.9364846280308998) 75%,
    rgba(0, 212, 255, 1) 100%
  );
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
  height: 100vh;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Shadows Into Light", cursive;
}
.main > h4 {
  font-size: 3rem;
  color: aquamarine;
}
.main > p {
  font-size: 1.3rem;
  color: rgb(242, 255, 0);
}
/* for the buttons */
/*  */
.btn > button {
  padding: 10px 30px;
  color: whitesmoke;
  /* width: 100px; */
  /* border: 1px solid red; */
  margin-left: 30px;
  border-radius: 21px;
  background: transparent;
}

.btn > #login:hover {
  color: white;
  font-weight: 600;
  background-color: green;
  transition: 0.5s ease-in-out;
}

.btn > #register:hover {
  color: white;
  font-weight: 600;
  background-color: rgb(128, 32, 0);
  transition: 0.5s ease-in-out;
}

.foot {
  height: 70px;
}
ul.mb-3.nav.nav-tabs {
  display: flex;
  justify-content: center;
}
